.zener-pointer-events-auto {
  pointer-events: auto;
}

.zener-absolute {
  position: absolute;
}

.zener-relative {
  position: relative;
}

.zener-left-0 {
  left: 0px;
}

.zener-top-0 {
  top: 0px;
}

.zener-z-\[9999999999999999999\] {
  z-index: 9999999999999999999;
}

.zener-mt-1 {
  margin-top: 0.25rem;
}

.zener-box-border {
  box-sizing: border-box;
}

.zener-flex {
  display: flex;
}

.zener-h-\[28px\] {
  height: 28px;
}

.zener-h-full {
  height: 100%;
}

.zener-min-h-\[24px\] {
  min-height: 24px;
}

.zener-min-h-\[26px\] {
  min-height: 26px;
}

.zener-w-\[28px\] {
  width: 28px;
}

.zener-w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.zener-w-full {
  width: 100%;
}

.zener-min-w-\[122px\] {
  min-width: 122px;
}

.zener-min-w-\[282px\] {
  min-width: 282px;
}

.zener-flex-1 {
  flex: 1 1 0%;
}

.zener-border-collapse {
  border-collapse: collapse;
}

.\!zener-cursor-default {
  cursor: default !important;
}

.zener-cursor-default {
  cursor: default;
}

.zener-cursor-pointer {
  cursor: pointer;
}

.zener-flex-row {
  flex-direction: row;
}

.zener-items-center {
  align-items: center;
}

.zener-justify-center {
  justify-content: center;
}

.zener-justify-between {
  justify-content: space-between;
}

.zener-overflow-hidden {
  overflow: hidden;
}

.zener-rounded {
  border-radius: 0.25rem;
}

.zener-rounded-md {
  border-radius: 0.375rem;
}

.zener-border {
  border-width: 1px;
}

.zener-border-0 {
  border-width: 0px;
}

.zener-border-b {
  border-bottom-width: 1px;
}

.zener-border-t {
  border-top-width: 1px;
}

.zener-border-solid {
  border-style: solid;
}

.zener-border-input-border {
  border-color: var(--zener-input-border);
}

.zener-border-input-disabled-border {
  border-color: var(--zener-input-disabled-border);
}

.zener-border-menu-container-text-border {
  border-color: var(--zener-menu-container-text-border);
}

.zener-border-b-menu-container-top-bottom-border {
  border-bottom-color: var(--zener-menu-container-top-bottom-border);
}

.zener-border-t-menu-container-top-bottom-border {
  border-top-color: var(--zener-menu-container-top-bottom-border);
}

.zener-bg-\[\#020408\] {
  --tw-bg-opacity: 1;
  background-color: rgb(2 4 8 / var(--tw-bg-opacity));
}

.zener-bg-input-bg {
  background-color: var(--zener-input-bg);
}

.zener-bg-input-disabled-bg {
  background-color: var(--zener-input-disabled-bg);
}

.zener-bg-menu-container-bg {
  background-color: var(--zener-menu-container-bg);
}

.zener-bg-menu-container-text-selected-bg {
  background-color: var(--zener-menu-container-text-selected-bg);
}

.zener-bg-transparent {
  background-color: rgba(255,255,255,0.0);
}

.zener-p-1 {
  padding: 0.25rem;
}

.zener-p-2 {
  padding: 0.5rem;
}

.zener-p-3 {
  padding: 0.75rem;
}

.zener-px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.zener-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.zener-py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.zener-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.zener-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.zener-text-center {
  text-align: center;
}

.zener-font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.\!zener-text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.zener-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.zener-font-normal {
  font-weight: 400;
}

.zener-font-semibold {
  font-weight: 600;
}

.zener-font-thin {
  font-weight: 100;
}

.zener-text-inherit {
  color: inherit;
}

.zener-text-input-disabled-text {
  color: var(--zener-input-disabled-text);
}

.zener-text-input-text {
  color: var(--zener-input-text);
}

.zener-text-menu-container-text {
  color: var(--zener-menu-container-text);
}

.zener-text-menu-container-text-disabled {
  color: var(--zener-menu-container-text-disabled);
}

.zener-text-menu-container-text-selected {
  color: var(--zener-menu-container-text-selected);
}

.zener-text-menu-footer-today {
  color: var(--zener-menu-footer-today-text);
}

.zener-text-menu-header-icon {
  color: var(--zener-menu-header-icon);
}

.zener-opacity-80 {
  opacity: 0.8;
}

.zener-shadow-menu {
  --tw-shadow: 0 6px 16px 0 rgba(0,0,0,0.08), 0 3px 6px -4px rgba(0,0,0,0.12), 0 9px 28px 8px rgba(0,0,0,0.05);
  --tw-shadow-colored: 0 6px 16px 0 var(--tw-shadow-color), 0 3px 6px -4px var(--tw-shadow-color), 0 9px 28px 8px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.zener-outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.zener-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.zener-transition-none {
  transition-property: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/* For iOS and Safari */

* {
  -webkit-tap-highlight-color: transparent;
}

/* For Android and other browsers */

* {
  tap-highlight-color: transparent;
}

.zener-date-picker,
.zener-date-picker * {
  scroll-behavior: unset !important;
}

.zener-date-picker svg {
  display: block;
}

.zener-date-picker button {
  cursor: pointer;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  border: none;
}

.zener-date-picker input,
.zener-date-picker button {
  font-family: inherit;
  /* 1 */
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

:root {
  --zener-menu-container-bg: #ffffff;
  --zener-menu-container-text: #000000;
  --zener-menu-container-text-selected: #ffffff;
  --zener-menu-container-text-selected-bg: #1d2275;
  --zener-menu-container-text-border: #1d2275;
  --zener-menu-container-item-hover: #f3f4f6;
  --zener-menu-container-text-disabled: #d1d5db;
  --zener-menu-footer-today-text: #1d2275;
  --zener-menu-footer-today-hover-text: #000000;
  --zener-menu-header-icon: #9ca3af;
  --zener-menu-header-icon-hover: #000000;
  --zener-menu-header-icon-disabled: #e5e7eb;
  --zener-menu-container-top-bottom-border: #d1d5db;
  --zener-input-text: #000000;
  --zener-input-bg: #ffffff;
  --zener-input-border: #e7e5e4;
  --zener-input-focus-ring: #60a5fa;
  --zener-input-disabled-bg: #0000000d;
  --zener-input-disabled-text: #00000040;
  --zener-input-disabled-border: #f5f5f4;
}

.focus-within\:zener-outline-none:focus-within {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus-within\:zener-ring-1:focus-within {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus-within\:zener-ring-input-focus-ring:focus-within {
  --tw-ring-color: var(--zener-input-focus-ring);
}

.hover\:zener-bg-menu-container-item-hover:hover {
  background-color: var(--zener-menu-container-item-hover);
}

.hover\:zener-text-menu-footer-today-hover:hover {
  color: var(--zener-menu-footer-today-hover-text);
}

.hover\:zener-text-menu-header-icon-hover:hover {
  color: var(--zener-menu-header-icon-hover);
}

.hover\:zener-opacity-100:hover {
  opacity: 1;
}

.focus\:zener-outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:zener-ring-1:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:zener-ring-input-focus-ring:focus {
  --tw-ring-color: var(--zener-input-focus-ring);
}

.focus-visible\:zener-outline-none:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.disabled\:zener-text-menu-header-icon-disabled:disabled {
  color: var(--zener-menu-header-icon-disabled);
}

.zener-group:hover .group-hover\:zener-bg-menu-container-item-hover {
  background-color: var(--zener-menu-container-item-hover);
}
