@tailwind utilities;
@tailwind base;

/* For iOS and Safari */
* {
  -webkit-tap-highlight-color: transparent;
}

/* For Android and other browsers */
* {
  tap-highlight-color: transparent;
}

.zener-date-picker,
.zener-date-picker * {
  scroll-behavior: unset !important;
}

.zener-date-picker svg {
  display: block;
}

.zener-date-picker button {
  cursor: pointer;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  border: none;
}

.zener-date-picker input,
.zener-date-picker button {
  font-family: inherit;
  /* 1 */
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

:root {
  --zener-menu-container-bg: #ffffff;
  --zener-menu-container-text: #000000;
  --zener-menu-container-text-selected: #ffffff;
  --zener-menu-container-text-selected-disabled: #ffffff;
  --zener-menu-container-text-selected-bg: #1d2275;
  --zener-menu-container-text-selected-disabled-bg: #d8d8d8;
  --zener-menu-container-text-border: #1d2275;
  --zener-menu-container-item-hover: #f3f4f6;
  --zener-menu-container-text-disabled: #d1d5db;
  --zener-menu-footer-today-text: #1d2275;
  --zener-menu-footer-today-hover-text: #000000;
  --zener-menu-header-icon: #9ca3af;
  --zener-menu-header-icon-hover: #000000;
  --zener-menu-header-icon-disabled: #e5e7eb;
  --zener-menu-container-top-bottom-border: #d1d5db;
  --zener-input-text: #000000;
  --zener-input-bg: #ffffff;
  --zener-input-border: #e7e5e4;
  --zener-input-focus-ring: #60a5fa;
  --zener-input-disabled-bg: #0000000d;
  --zener-input-disabled-text: #00000040;
  --zener-input-disabled-border: #f5f5f4;
}
